@import "../../../../sass/variables.scss";

.content-opinion {
  margin-top: 150px;
  margin-left: 150px;
  position:  relative !important;

  .text-opinion {
    margin-top: 20px;
    font-size: 25px;
    font-weight: 500;
  }

  .name-opinion {
    color: $name-opinion;
    font-size: smaller;
    font-weight: bold;
  }
}

// .img-opinion {
//   width: 1200px;
//   float: right;
//   position: relative;
//   transform: translate(25%, -85%);
//   z-index: -3;
// }
