<div class="container text-center">
  <label class="title mt-5">Honest Pricing</label> <br>
  <label class="subtitle">Simple & honest pricing. No hidden fees.</label>

  <div class="container row justify-content-center mt-5">
    <div class="card price-content col-3 mt-3">
      <p class="basic mt-4">BASIC</p> <br>
      <p class="price price-basic"><span class="currency">$</span><span class="value">9</span></p>
      <div class="states mt-2" *ngFor="let basic of listBasic">
        <mat-icon>check_circle</mat-icon> <span class="subtitle el-states">{{basic.states}}</span>
      </div>
      <div class="container mt-3">
        <input type="button" value="Choose Plan" class="button-green">
      </div>
    </div>
    <div class="card price-content index-content col-3">
      <p class="professional mt-4">PROFESSIONAL</p> <br>
      <p class="price price-professional"><span class="currency">$</span><span class="value">19</span></p>
      <div class="states mt-2" *ngFor="let professional of listProfessional">
        <mat-icon>check_circle</mat-icon> <span class="subtitle el-states">{{professional.states}}</span>
      </div>
      <div class="container mt-3">
        <input type="button" value="Choose Plan" class="button-orange">
      </div>
    </div>
    <div class="card price-content col-3 mt-3">
      <p class="premium mt-4">PREMIUM</p> <br>
      <p class="price price-premium"><span class="currency">$</span><span class="value">49</span></p>
      <div class="states mt-2" *ngFor="let premium of listPremium">
        <mat-icon>check_circle</mat-icon> <span class="subtitle el-states">{{premium.states}}</span>
      </div>
      <div class="container mt-3">
        <input type="button" value="Choose Plan" class="button-blue">
      </div>
    </div>
  </div>

  <div class="container text-center mt-5">
    <label class="subtitle">*Prices shown per month if paid annually</label>
  </div>
</div>
