$h_app: #f40f7c;
$h_app_transition: #ed9883;
$title_global: #051033;
$second_title: #3e4a5e;
$subtitle: #868b9b;
$hello: #a4a4a4;
$family_title: #2b7fff;

$font_one: #26cfa2;
$font_green_bg: #beffdb;
$font_green_color: #6dcab2;
$font_two: #ffae8c;
$font_three: #438aff;
$font_blue_bg: #d7f4ff;
$font_blue_color: #77c0ee;

$footer_bg: #f0f2f6;
$black_theme: #3c353c;
$insurance_bg: #f0f2f6;
$name-opinion: #3585ff;

$shadow: rgba(0,0,0,0.2);

$number_one: #99e1ee;
$number_one_bg: #b0f3ff;
$number_two: #e9b4ed;
$number_two_bg: #fbd1ff;
$number_three: #b9e7b0;
$number_three_bg: #daffd3;
