<div class="container">
  <ul class="nav">
    <li class="nav-item">
      <img class="mt-1" [src]="logo">
    </li>
    <li class="nav-item">
      <label class="nav-link cursor-pt active-link">For you & family</label>
    </li>
    <li class="nav-item">
      <label class="nav-link desabled-link">For Business</label>
    </li>
  </ul>
  <div class="container">
    <label class="left-hello">Hello, We are Fincorp</label> <br>
    <label class="left-bold-title mt-2">Insurance <br> made easy.</label> <br>
    <input type="button" class="btn-quote mt-3" value="Get your free Quote">
  </div>
  <div class="container">

  </div>
  <img class="img-banner" [src]="banner">
</div>
