@import "../../../../sass/variables.scss";

li {
  padding: 10px;

  .active-link {
    color: $black_theme;
    font-size: smaller;
    font-weight: bold;
  }
}

.left-hello {
  text-transform: uppercase;
  color: $hello;
  font-size: smaller;
  font-weight: 600;
  margin-top: 100px;
}

.left-bold-title {
  color: $title_global;
  font-size: 45px;
  font-weight: bolder;
}

.img-banner {
  float: right !important;
  width: 750px;
  position: relative;
  transform: translateY(-180%);
}

.btn-quote {
  color: #fff;
  background: linear-gradient(to right, $h_app_transition, $h_app);
  text-decoration: none;
  padding: 10px 20px;
  border: none !important;
  border-radius: 3px;
}

.row-banner {
  margin-top: 150px;
}

.bot-container {
  margin-top: 30px;

  .img-health-family {
    float: left !important;
    width: 725px;
    position: relative;
  }

  .right-title {
    color: $family_title;
    font-size: large;
    font-weight: 600;
  }

  .card-container {
    max-width: 540px;
    border: none;

    .img-tick {
      width: 40px;
    }

    .title-content {
      text-transform: uppercase;
      font-weight: 700;
      font-size: smaller;
    }
  }

  .card-container:hover {
    box-shadow: 2px 2px 4px #000000;
  }
}
