<div class="container card-comp">
  <div class="card card-content-comp">
    <div class="row">
      <div class="col-1">
        <img class="shield" [src]="shieldYellow">
      </div>
      <div class="col-7">
        100% Satisfaction Guarantee
        <p class="subtitle">We offer no questions asked refund policy for 14 days from the policy date.</p>
      </div>
      <div class="col-3">
        <input type="button" class="btn button-green mt-2" value="Get your free Quote">
      </div>
    </div>
  </div>
</div>
