<div class="container content">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          What are the documents required for claiming?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="subtitle">A pre-authorization form is required in case of cashless claims which are to be submitted to
        the TPA. Other
        documents might also be required and you should have the knowledge of the required documents.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Which are the network hospitals in your vicinity?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="subtitle">A pre-authorization form is required in case of cashless claims which are to be submitted to
        the TPA. Other
        documents might also be required and you should have the knowledge of the required documents.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Will I get covered for my pre-existing illnesses?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="subtitle">A pre-authorization form is required in case of cashless claims which are to be submitted to
        the TPA. Other
        documents might also be required and you should have the knowledge of the required documents.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Is maternity covered in health insurance policies?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="subtitle">A pre-authorization form is required in case of cashless claims which are to be submitted to
        the TPA. Other
        documents might also be required and you should have the knowledge of the required documents.</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<div class="container card-comp">
  <div class="card card-content-comp">
    <div class="row">
      <div class="col-1">
        <img class="shield" [src]="shieldBlue">
      </div>
      <div class="col-7">
        <span class="second-title">Insurance made easy</span>
        <p class="subtitle">At fincorp, we are commited to provide top-notch services to our customers.</p>
      </div>
      <div class="col-3">
        <input type="button" class="btn shadow button-green mt-2" value="Get your free Quote">
      </div>
    </div>
  </div>
</div>

<div class="mb-5"></div>
