.img-banner {
  float: right !important;
  width: 750px;
  position: relative;
  transform: translateY(-610%);
  z-index: -3;
}

.img-opinion {
  width: 1200px;
  float: right;
  position: relative;
  transform: translate(25%, -655%);
  z-index: -3;
}

.img-pricing {
  float: right;
  position: relative;
  transform: translate(0, -239%);
  z-index: -3;
}

.img-family {
  width: 500px;
  float: right;
  position: relative;
  transform: translate(0, -455%);
  z-index: -3;
}
