.img-banner {
  float: right !important;
  width: 750px;
  position: relative;
  transform: translateY(-430%);
}

.img-opinion {
  width: 1200px;
  float: right;
  position: relative;
  transform: translate(25%, -350%);
  z-index: -3;
}

.img-pricing {
  float: right;
  position: relative;
  transform: translate(0, -100%);
  z-index: -3;
}
