<div class="text-center">
  <div class="container">
    <label class="title mt-5">Simplified Claims</label> <br>
    <label class="subtitle">Easy as One, Two, Three</label>
  </div>

  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-3 card-content">
        <p class="number number-one">
          <span class="one">1</span>
        </p>
        <p class="second-title">Report Claim</p>
        <p class="subtitle">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis nunc vitae velit rutrum suscipit non et
          eros.
        </p>
      </div>

      <div class="col-md-1">
        <img [src]="afterBlue">
      </div>

      <div class="col-md-3">
        <p class="number number-two">
          <span class="two">2</span>
        </p>
        <p class="second-title">Claim Processing</p>
        <p class="subtitle">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis nunc vitae velit rutrum suscipit non et
          eros.
        </p>
      </div>

      <div class="col-md-1">
        <img [src]="afterPink">
      </div>

      <div class="col-md-3">
        <p class="number number-three">
          <span class="three">3</span>
        </p>
        <p class="second-title">Final Settlement</p>
        <p class="subtitle">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis nunc vitae velit rutrum suscipit non et
          eros.
        </p>
      </div>
    </div>
  </div>
</div>
