@import "~bootstrap/dist/css/bootstrap.css";

@import "./sass/variables.scss";

.cursor-pt {
  cursor: pointer;
}

.title {
  color: $title_global;
  font-size: xx-large;
  font-weight: 700;
}

.second-title {
  color: $title_global;
  font-weight: 900;
  font-size: 17px;
}

.subtitle {
  color: $subtitle;
  font-size: smaller;
}

.button-green {
  color: #fff;
  background: $font_one;
  text-decoration: none;
  padding: 10px 20px;
  border: none !important;
  border-radius: 3px;
}

.card-comp {
  margin-top: 200px;
  max-width: 800px;

  .card-content-comp {
    border-radius: 15px;
    padding: 15px 0;
    border: none;
    box-shadow: 0 4px 8px 0 $shadow;
  }

  .shield {
    transform: translateX(-25px);
    width: 50px;
  }
}
