@import "~bootstrap/dist/css/bootstrap.css";

@import "./sass/variables.scss";

.cursor-pt {
  cursor: pointer;
}

.title {
  color: $title_global;
  font-size: xx-large;
  font-weight: 700;
}

.second-title {
  color: $title_global;
  font-weight: 900;
  font-size: 17px;
}

.subtitle {
  color: $subtitle;
  font-size: smaller;
}
