@use "~@angular/material" as mat;
@include mat.core();

$Sayna-Test-Angular-primary: mat.define-palette(mat.$indigo-palette);
$Sayna-Test-Angular-accent: mat.define-palette(
  mat.$pink-palette,
  A200,
  A100,
  A400
);

$Sayna-Test-Angular-warn: mat.define-palette(mat.$red-palette);

$Sayna-Test-Angular-theme: mat.define-light-theme(
  (
    color: (
      primary: $Sayna-Test-Angular-primary,
      accent: $Sayna-Test-Angular-accent,
      warn: $Sayna-Test-Angular-warn,
    ),
  )
);

@include mat.all-component-themes($Sayna-Test-Angular-theme);

@import "~bootstrap/dist/css/bootstrap.css";

@import "./sass/variables.scss";

.cursor-pt {
  cursor: pointer;
}

.title {
  color: $title_global;
  font-size: xx-large;
  font-weight: 700;
}

.second-title {
  color: $title_global;
  font-weight: 900;
  font-size: 17px;
}

.subtitle {
  color: $subtitle;
  font-size: smaller;
}

.button-green {
  color: #fff;
  background: $font_one;
  text-decoration: none;
  padding: 10px 20px;
  border: none !important;
  border-radius: 3px;
}

.button-orange {
  color: #fff;
  background: $font_two;
  text-decoration: none;
  padding: 10px 20px;
  border: none !important;
  border-radius: 3px;
  margin-bottom: 30px;
}

.button-blue {
  color: #fff;
  background: $font_three;
  text-decoration: none;
  padding: 10px 20px;
  border: none !important;
  border-radius: 3px;
}

.card-comp {
  margin-top: 180px;
  margin-bottom: 50px;
  max-width: 820px;

  .card-content-comp {
    border-radius: 15px;
    padding: 15px 0;
    border: none;
    box-shadow: 0 4px 8px 0 $shadow;
  }

  .shield {
    transform: translateX(-25px);
    width: 50px;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-expansion-panel,
mat-expansion-panel * {
  transition: 0.5s !important;
}

.footer_app {
  background-color: $footer_bg;
}
