<div class="footer_app">
  <div class="container row">
    <div class="col-3 col1 text-left">
      <p class="mt-5 second-title">ADDRESS</p>
      <p class="subtitle">400-401 West Georgia Street <br>
        Vancouver, BC, Canada, V6B 5A1</p>
      <p class="subtitle">
        +1 (123) 456 7890 <br>
        sales@insurance.com
      </p>
    </div>
    <div class="col-3">
      <p class="mt-5 second-title">FOLLOW US</p>
      <p class="subtitle">
        Twitter <br>
        Facebook <br>
        Linkedin <br>
        Instagram
      </p>
    </div>
    <div class="col-4">
      <p class="mt-5 second-title">ABOUT US</p>
      <p class="subtitle">Compellingly myocardinate market-driven infrastructures before team driven manufactured
        products.
        Monotonectally exploit tactical markets vis-a-vis excellent deliverables. </p>
    </div>
  </div>
</div>
